.para{
    color:red;
    font-family:
}

ol li{
    color:brown;
    padding-block: 10px;
   
}
.para1{
    color: brown;
}


.para2{
    text-decoration: underline;
}

ul li{
    color: brown;
    letter-spacing: 5px;

  
}
